body {
    background-color: #060B10;
}

h1 {
    color:#609DE5;
	font-family: verdana, arial, sans-serif;
	text-align: center;
	border-width: 2px;
	border-style: solid;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 1em
}

h2 {
	color: #609DE5;
}

p {
   color: #609DE5;
}

nav ul li {
	display: inline;
}

nav ul {
	margin-left: 0;
	padding-left: 0;
	background-color: #AA7E39;
	color: #fff;
	float: fixed;
	width: 100%;
}

nav ul li a {
	padding: 0.2em 1em;
	background-color: #AA7E39;
	color: #fff;
	text-decoration: none;
	float: left;
	border-right: 1px solid #060B10;
}

nav ul li a:hover {
	background-color: #857DB1;
}