body {
    background-color: #609DE5;
}

h1 {
    color: #060B10;
	font-family: verdana, arial, sans-serif;
	text-align: center;
	border-width: 2px;
	border-style: solid;
}

p {
   color: #060B10;
}

nav ul li {
	display: inline;
}]